.about {
  padding-top: 30px;
  padding-bottom: 100px;

  @include vp-1023 {
    padding-bottom: 80px;
  }

  @include vp-767 {
    padding-top: 17px;
  }
}

.about h2 {
  margin-bottom: 13px;
  color: $color-primary-black;

  @include vp-767 {
    margin-bottom: 10px;
  }
}

.about__inner {
  display: flex;
}

.about__year {
  width: 250px;

  @include vp-1023 {
    width: 177px;
    padding-top: 4px;
  }

  @include vp-767 {
    display: none;
  }
}

.about__content {
  flex: 1;
}

.about__desc {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 134.4%;
  margin-bottom: 20px;
  color: $color-primary-black;

  @include vp-1023 {
    margin-bottom: -2px;
  }

  @include vp-767 {
    font-size: 14px;
  }
}

.about__desc p {
  margin-top: 0;
  margin-bottom: 23px;

  &:last-child {
    margin-bottom: 0;
  }

  @include vp-1023 {
    margin-bottom: 21px;
  }
}

.about__default-text span {
  &:first-child {
    @include vp-767 {
      display: none;
    }
  }

  &:last-child {
    display: none;

    @include vp-767 {
      display: block;
    }
  }
}

.about__full-text {
  display: none;
  margin-top: 23px;
}

.about.open .about__full-text {
  display: block;
}

.about__btn {
  min-width: 180px;
  padding: 13px 25px;
  margin-top: 20px;

  @include vp-767 {
    min-width: 160px;

    margin-top: 14px;
    padding: 8px 25px;
  }
}
