.contact {
  padding-top: 165px;
  padding-bottom: 250px;
  background: linear-gradient(139deg, rgb(2, 101, 147) 33.5%, rgb(0, 178, 255) 33.5%);

  color: $color-default-white;

  @include vp-1023 {
    background: $color-primary-blue;

    padding-top: 46px;
    padding-bottom: 123px;
  }

  @include vp-767 {
    padding-bottom: 90px;
  }
}

.contact h2 {
  margin-bottom: 13px;

  @include vp-1023 {
    margin-bottom: 7px;
  }

  @include vp-767 {
    font-size: 30px;
    line-height: 140.63%;
  }
}

.contact__inner {
  display: flex;
}

.contact__img {
  width: 52%;

  padding-top: 80px;

  @include vp-1279 {
    width: 35%;
    padding-right: 40px;
  }

  @include vp-1023 {
    display: none;
  }
}

.contact__content {
  width: 50%;

  padding-left: 6px;
  padding-right: 9px;

  @include vp-1279 {
    width: 65%;
  }

  @include vp-1023 {
    width: 100%;

    padding-left: 1px;
    padding-right: 0;
  }
}

.contact__desc {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 134.4%;

  margin-bottom: 36px;

  @include vp-1023 {
    margin-bottom: 26px;
  }

  @include vp-767 {
    font-size: 14px;

    margin-bottom: 35px;
  }
}

.contact__desc p {
  margin-top: 0;

  &:last-child {
    margin-bottom: 0;
  }
}

.contact form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.contact__form .contact__group--input {
  margin-bottom: 20px;
  flex: 1;

  @include vp-767 {
    flex: 100%;

    margin-bottom: 21px;
  }
}

.contact__form .contact__group--textarea {
  width: 100%;

  margin-bottom: 30px;

  @include vp-767 {
    margin-bottom: 29px;
  }
}

.contact__form .contact__group--name {
  margin-right: 30px;

  @include vp-767 {
    margin-right: 0;
  }
}

.contact__btn {
  min-width: 268px;

  padding: 15px 25px 11px 25px;
  margin-right: 50px;

  @include vp-1023 {
    min-width: 265px;

    padding: 17px 25px 11px 25px;
    margin-right: 84px;
  }

  @include vp-767 {
    width: 100%;

    margin-right: 0;
    margin-bottom: 24px;
  }
}

.contact .custom-toggle {
  position: relative;

  max-width: 234px;

  @include vp-1023 {
    margin-bottom: 6px;
  }

  @include vp-767 {
    margin-left: 4px;
    margin-bottom: 0;
  }
}
