.custom-toggle {
  position: relative;
  font-size: 14px;
  line-height: normal;
  font-weight: 400;

  color: $color-default-white;

  display: flex;
  align-items: center;

  input {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;

    clip: rect(0 0 0 0);
  }

  label {
    position: relative;
    padding-left: 25px;

    cursor: pointer;
  }

  &--checkbox {
    .custom-toggle__icon {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);

      width: 15px;
      height: 15px;

      border: 1px solid $color-default-white;

      border-radius: 1.5px;

      transition: border 0.3s ease;
    }
  }

  input:checked + .custom-toggle__icon {
    background-image: url("../img/sprite/icon-check.svg");
    background-size: 15px;
    background-position: center;
  }
}
