.header {
  position: relative;
  background: $top-to-bottom;

  padding-top: 30px;
  padding-bottom: 35px;
  z-index: 10;

  @media (min-width: $vp-1024) {
    position: fixed;
    left: 0;
    top: 0;

    width: 100%;
  }

  @include vp-1023 {
    padding-top: 20px;
    margin-bottom: -30px;
  }

  @include vp-767 {
    padding-top: 12px;
  }
}

.header__inner {
  display: flex;
  align-items: center;
}

.header__links {
  display: flex;
  flex-wrap: wrap;


  width: 100%;
  max-width: 480px;

  margin-right: 145px;

  @include vp-1439 {
    width: auto;

    margin-left: auto;
    margin-right: 0;
  }

  @include vp-1023 {
    margin-left: 0;
  }
}

.header__link {
  display: flex;
  align-items: center;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: $color-primary-white;

  transition: color $trans-default;

  margin-bottom: 7px;

  @include hover-focus {
    color: $color-primary-blue;
  }

  &--email {
    margin-right: 121px;
  }

  @include vp-1023 {
    justify-content: center;

    width: 40px;
    height: 40px;

    font-size: 0;

    margin-bottom: 17px;
    margin-right: 20px;
  }

  @include vp-767 {
    margin-bottom: 0;
    margin-right: 15px;
  }
}

.header__link svg {
  flex-shrink: 0;

  margin-right: 15px;

  @include vp-1023 {
    margin-right: 0;
  }
}

.header__btn {
  margin-bottom: 7px;
  padding: 11px 16px;

  @include vp-1023 {
    display: none;
  }
}
