.intro {
  position: relative;

  padding-top: 305px;
  padding-bottom: 280px;

  color: $color-primary-white;

  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/bg/bg-hero.png");

  @include vp-1023 {
    padding-top: 180px;
    padding-bottom: 206px;
    background-image: url("../img/bg/bg-hero-tablet.png");
  }

  @include vp-767 {
    padding-top: 151px;
    padding-bottom: 190px;

    background-image: url("../img/bg/bg-hero-mobile.png");
  }

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;

    position: absolute;
    left: 0;
    top: 0;

    background: $overlay-intro;
  }
}

.intro a {
  position: relative; // только для страницы sitemap
  color: $color-primary-white; // только для страницы sitemap
  z-index: 2; // только для страницы sitemap
}

.intro__inner {
  position: relative;
  max-width: 1070px;

  padding: 0 50px;
  margin-left: auto;
  margin-right: auto;

  z-index: 1;

  @include vp-767 {
    padding: 0 25px;
  }
}

.intro__title {
  font-family: $ff-roboto;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 5.6px;
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 31px;

  @include vp-1023 {
    font-size: 64px;
    letter-spacing: 4.48px;

    margin-bottom: 0;
  }

  @include vp-767 {
    font-size: 36px;
    letter-spacing: 2.52px;

    margin-bottom: 7px;
  }
}

.intro__desc {
  max-width: 685px;

  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 155%;

  margin-bottom: 47px;

  @include vp-1023 {
    margin-bottom: 56px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 155%;

    margin-bottom: 45px;
  }
}

.intro__desc p {
  margin-top: 0;

  &:last-child {
    margin-bottom: 0;
  }
}

.intro__btn {
  padding: 17px 28px;
  justify-content: center;

  @include vp-1023 {
    margin-left: 44px;
  }

  @include vp-767 {
    width: 100%;

    font-size: 14px;
    letter-spacing: 0.7px;

    padding: 12px 37px;
    margin-left: 0;
  }
}