.logo {
  flex-shrink: 0;
  max-width: 215px;

  &--header {
    margin-right: 160px;

    @include vp-1439 {
      margin-right: 30px;
    }

    @include vp-1023 {
      margin-right: auto;
    }

    @include vp-767 {
      max-width: 35px;
    }
  }

  &--footer {
    margin-bottom: 15px;
  }
}
