.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;

  color: $color-default-white;

  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  background-color: rgba($color-default-black, 0.8);
  transform: scale(1.2);
  visibility: hidden;
  opacity: 0;

  transition: opacity $trans-modal,
    transform $trans-modal,
    visibility $trans-modal;

  pointer-events: none;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &__wrapper {
    position: relative;

    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    cursor: pointer;
  }

  &__content {
    position: relative;

    width: 500px;
    padding: 38px 40px 40px 40px;

    background-color: $color-primary-blue;

    @include vp-767 {
      width: 100%;
      padding: 20px;
    }
  }

  &__close-btn {
    position: absolute;
    top: 17px;
    right: 16px;
    z-index: 1;

    width: 40px;
    height: 40px;
    padding: 0;

    background: $color-transparent;
    border: none;
    cursor: pointer;

    @include hover-focus {
      opacity: 0.8;
    }
  }

  &--responsive {
    .modal__content {
      width: 100%;
    }
  }

  &--fit-content {
    .modal__content {
      width: auto;

      @include vp-767 {
        width: 100%;
      }
    }
  }

  &--no-scale {
    transform: none;
  }

  &--preload {
    transition: none;
  }

  &.is-active {
    transform: scale(1);
    visibility: visible;
    opacity: 1;

    pointer-events: auto;
  }
}

.modal h2 {
  font-family: $ff-roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 140.63%;

  margin-top: 0;
  margin-bottom: 3px;
}

.modal__desc {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 134.4%;

  margin-bottom: 40px;
}

.modal__desc p {
  margin-top: 0;

  &:last-child {
    margin-bottom: 0;
  }
}

.modal .modal__group--input {
  margin-bottom: 20px;
}

.modal .modal__group--textarea {
  margin-bottom: 20px;
}

.modal__btn {
  width: 100%;

  margin-bottom: 20px;
  padding: 13px 20px;
}

.modal .custom-toggle {
  margin-left: 8px;
}
