.social {
  display: flex;
  align-items: center;

  margin-top: 30px;
  margin-left: 10px;

  @include vp-1023 {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 22px;
  }
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;
  margin-right: 15px;
  border-radius: 50%;

  transition: outline $trans-default;

  @include hover-focus {
    outline: 2px solid $color-primary-blue;
  }

  &:last-child {
    margin-right: 0;

    @include vp-1023 {
      margin-right: -5px;
    }
  }
}
